
<body>
    <div style="margin: inherit">
        <br /> <br /> <br />
        <form id="loginForm" method="POST" style="display: none">
            Email: <br />
            <input type="text" name="email" value=""><p />
            Password: <br />
            <input type="text" name="password" value=""><p />

            <input type="button" name="button" value="Login" onClick="Login(this.form)">
        </form>

        <form id="registerForm" method="POST" style="display: none">
            Username: <br />
            <input type="text" name="username" value=""><p />
            Password: <br />
            <input type="text" name="password" value=""><p />
            E-mail adress: <br />
            <input type="text" name="email" value=""><p />

            <input type="button" name="button" value="Create" onClick="Register(this.form)">
        </form>

        <div class="testText" style="display: none">dkdndévndévndén</div>

        <table id="scheduleTable" style="display: none"></table>
    </div>
</body>



@*<button type="button" onclick="SendAjaxGET()">Click Me to Send Ajax(GET) Request</button>*@
