
<body>


    <div style="margin: inherit">
        <br> <br> <br>
        <form id="loginForm" method="POST" style="display: none">
            Username: <br>
            <input type="text" name="username" value=""><P>
                Password: <br>
                <input type="text" name="password" value="">
            <P>

                <input type="button" name="button" value="Login" onClick="Login(this.form)">
        </form>

        <form id="registerForm" method="POST" style="display: none">
            Username: <br>
            <input type="text" name="username" value=""><P>
                Password: <br>
                <input type="text" name="password" value="">
            <P>

                <input type="button" name="button" value="Create" onClick="Register(this.form)">
        </form>
    </div>
</body>
