

#header {
    width: 700px;
    background-color: burlywood;
}

.headerElement {
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    border: groove;
}

#firstElement {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    border: groove;
}

#loginForm {
    margin: inherit;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 30px;
    left: 0;
    background-color: khaki;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: chocolate;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }


  #ScheduleTable{
    left: 200px;
    position: relative;
    height: 600px;
  }

  .tableCell{
    border: solid;
    width: 100px;
    text-align: center;
  }